.title {
	color: white;
}

.icon {
	color: white;
	margin: 0.8rem 1rem;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar ul li a {
	color: white;
	display: block;
	padding: 0 0.5rem;
	text-decoration: none;
	cursor: pointer;
}

